/* All styles for your header Components live here */
.header-container {
    display: flex;
    justify-content: space-between;
    margin: 10% 18%;
}


.logo {
    width: 50px;
    height: 55px;
    margin-top: 14px;
}

.title-container {
    width: 93%;
    margin-left: 10px;
}

.schoolName {
    font-weight: bold;
}

.nameDate {
    opacity: 0.5;
    font-size: 0.9rem;
}